.chartContainer {
  user-select: none;
  background-color: var(--c-bg3);
  min-height: 12em;
  overflow: hidden;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

svg:focus,
path:focus,
g:focus {
  outline: none;
}

.distSelect {
  padding: .2em;
  display: flex;
  flex-direction: column;
}

.distSelect select {
  cursor: pointer;
}

.distSelect select:hover,
.distSelect select:focus {
  box-shadow: 0 0 .3em rgba(0, 0, 0, 0.3);
}