:root {
  --header-height: 2rem;
  --dashboard-height: calc(100vh - var(--header-height));
  font-size: 14px;
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: #213547;
  background-color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
}

button {
  background: rgba(0, 0, 0, 0.0);
  border: unset;
  padding: .5em 1em;
  cursor: pointer;
  transition: background-color 0.25s;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
}

button:hover {
  background: rgba(0, 0, 0, 0.3);
}
